%h1 Your Friends
- if @friends.empty?
  %p Soooo... it turns out you don't have any friends.  Sorry, man.  :-(
  %p 
    Maybe you could
    %a{:href => "http://www.twitter.com"}make a tweet
    suggesting folks sign up?  Anybody you follow on Twitter who joins
    RubyConfirmate will automatically be added here.
- else
  %ul.friends
    - @friends.each do |friend|
      %li[friend]
        %img{ :src => friend.profile_image_url }
        = display_name(friend)
        has signed up for #{friend.conference_sessions.length} sessions
  Anybody you follow on
  %a{:href => "http://www.twitter.com"}the twitters
  who joins RubyConfirmate will automatically be added here.
