@import 'round'

$ruby: #8c2318
$gray: #bdd7de
$white: #f0f0d8
$green: #98bf3e

$orange: #d14f00
$yellow: #ffe617

=gradient-horizontal($start_color, $end_color)
  background: mix($start_color, $end_color) /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr=$start_color, endColorstr=$end_color) /* for IE */
  background: -webkit-gradient(linear, left top, right top, from($start_color), to($end_color)) /* for webkit browsers */
  background: -moz-linear-gradient(left,  $start_color,  $end_color) /* for firefox 3.6+ */

address, blockquote, body, center, dir, div, dl, fieldset, form, h1, h2, h3, h4, h5, h6, hr, isindex, menu, noframes, noscript, ol, p, pre, table, ul
  margin: 0
  padding: 0

.clear
  clear: both

body
  background: mix($gray, white)
  font-family: 'Droid Serif'

  &.welcome
    .navigation
      position: relative
      border-top: 1px solid white
    .header
.navigation
  +gradient-horizontal($orange, $yellow)
  border-bottom: 1px solid white
  color: white
  position: fixed
  width: 100%
  ul
    list-style-type: none
    text-align: center
    li
      display: inline
      font-family: 'Droid Sans'
      font-size: 120%
      .block
        padding: 5px
        display: inline-block
        border-left: 1px solid white
      a
        color: white
        text-decoration: none
        display: inline-block
        background-repeat: no-repeat
        background-position: left top
        height: 32px
        line-height: 37px
        margin: 5px
        padding-left: 37px
        padding-right: 5px
        &:hover
          color: black
      &.current .block
        background-color: black
        a:hover
          color: white

      &.presentations a
        background-image: url('/images/presentations.png')
        &:hover
          background-image: url('/images/presentations-black.png')
      &.presentations.current a:hover
        background-image: url('/images/presentations.png')
      &.schedule a
        background-image: url('/images/schedule.png')
        &:hover
          background-image: url('/images/schedule-black.png')
      &.schedule.current a:hover
        background-image: url('/images/schedule.png')
      &.friends a
        background-image: url('/images/friends.png')
        &:hover
          background-image: url('/images/friends-black.png')
      &.friends.current a:hover
        background-image: url('/images/friends.png')
      &.friends .block
        border-right: 1px solid white
.main
  padding-top: 60px
  max-width: 900px
  margin: 0 auto
h1
  margin: 10px
h2
  background: black
  color: white
  padding: 5px 15px
  margin-top: 20px
  font-family: 'Droid Sans'
  font-weight: normal
img.person
  vertical-align: text-bottom
.conference_session
  background: $gray
  padding: 10px
  margin: 10px
  overflow: auto
  +round(10px)
  .option
    clear: both
    border-top: 1px solid darken($gray, 10%)
    padding: 10px 0
    overflow: auto
.meta
  font-family: 'Droid Sans'
  font-size: 80%
  color: darken($gray, 40%)
  a
    color: darken($gray,40%)
    text-decoration: none
.time, .location, .presenters, .attendees
  // width: auto
  width: 50%
.time
  float: left
  padding-bottom: 5px
.location
  float: right
  text-align: right
.presenters
  padding-top: 5px
  float: left
.attendees
  float: right
  text-align: right
  // line-height: 18px
.summary
  font-family: 'Droid Serif'
  font-size: 120%
  clear: both
  a
    color: black
    text-decoration: none
.metadata
  background: $gray
  padding: 10px
  margin: 10px 10px 0
  overflow: auto
  +round-top(10px)
  border-bottom: 1px solid darken($gray, 10%)
  .meta
    padding: 0
    // font-size: 100%
  .meta.presenters
    padding-bottom: 5px
  .meta.time
    padding-bottom: 5px
    float: right
    text-align: right
  .summary
    float: left
    width: auto
  .controls
    float: right
    width: auto
    a
      display: block
      background: mix($green, white)
      border: 2px solid $green
      font-family: 'Droid Sans'
      padding: 5px
      color: darken($green, 10%)
      text-decoration: none

.conference_session.going
  background: $green
  .meta, .meta a
    color: darken($green, 40%)
  .metadata
    background: $green
    border-bottom: 1px solid darken($green, 10%)

.details
  background: mix(mix($gray, white), $gray)
  padding: 10px
  margin: 0 10px 10px
  overflow: auto
  +round-bottom(10px)
  .description p
    padding-bottom: 10px
