@import 'round'

$ruby: #8c2318
$gray: #bdd7de
$white: #f0f0d8
$green: #98bf3e

$orange: #d14f00
$yellow: #ffe617

=gradient-horizontal($start_color, $end_color)
  background: mix($start_color, $end_color) /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr=$start_color, endColorstr=$end_color) /* for IE */
  background: -webkit-gradient(linear, left top, right top, from($start_color), to($end_color)) /* for webkit browsers */
  background: -moz-linear-gradient(left,  $start_color,  $end_color) /* for firefox 3.6+ */

= nav_image($tab)
  &.#{$tab} a
    background-image: url('/images/#{$tab}-black.png')
    &:link, &:visited
      background-image: url('/images/#{$tab}.png')
    &:hover, &:active
      background-image: url('/images/#{$tab}-black.png')
  &.#{$tab}.current a:hover
    background-image: url('/images/#{$tab}.png')

address, blockquote, body, center, dir, div, dl, fieldset, form, h1, h2, h3, h4, h5, h6, hr, isindex, menu, noframes, noscript, ol, p, pre, table, ul
  margin: 0
  padding: 0

.clear
  clear: both

body
  background: mix($gray, white)
  font-family: 'Droid Serif'

  &.welcome
    ul.features
      list-style-type: none
      width: 840px
      overflow: auto
      margin: 0 auto
      li
        background: mix($gray, black)
        +round(10px)
        display: block
        float: left
        width: 380px
        color: white
        margin: 10px
        padding: 10px
        padding-bottom: 25px
        text-align: center
        font-family: 'Droid Sans'
        font-size: 140%
        .text
          padding: 5px 0 15px 0
        img
          +round(10px)
          border: 5px solid white
          overflow: hidden
          opacity: 0.5
          &:hover
            opacity: 1
        &.full
          width: 800px
.big
  font-size: 140%
  text-align: center
  padding-top: 25px
  clear: both
  a
    color: darken($gray, 40%)
.main
  p, ul, ol
    padding-bottom: 10px
  ul, ol
    margin-left: 2em
.navigation
  +gradient-horizontal($orange, $yellow)
  border-bottom: 1px solid white
  color: white
  position: fixed
  width: 100%
  ul
    list-style-type: none
    text-align: center
    li
      display: inline
      font-family: 'Droid Sans'
      font-size: 120%
      .block
        padding: 5px
        display: inline-block
        border-left: 1px solid white
      a
        color: white
        text-decoration: none
        display: inline-block
        background-repeat: no-repeat
        background-position: left top
        height: 32px
        line-height: 37px
        margin: 5px
        padding-left: 37px
        padding-right: 5px
        &:hover
          color: black
      &.current .block
        background-color: black
        a:hover
          color: white


      +nav_image('home')
      +nav_image('sessions')
      +nav_image('schedule')
      +nav_image('friends')
      &.friends .block
        border-right: 1px solid white
.main
  padding: 60px 0
  max-width: 900px
  margin: 0 auto
h1
  margin: 10px
  a
    color: darken($gray, 40%)
    text-decoration: none
h2
  background: black
  color: white
  padding: 5px 15px
  margin-top: 20px
  font-family: 'Droid Sans'
  font-weight: normal
.slot_controls
  overflow: auto
  margin: 0 10px
  +round(5px)
  font-family: 'Droid Sans'
  // font-weight: bold
  // font-size: 120%
  line-height: 150%
  background: darken($gray, 20%)
  .unscheduled
    // color: darken($gray, 20%)
    color: white
    text-align: center
    margin: 0 20%
  .slot
    font-weight: bold
    background: darken($gray, 20%)
    width: 10%
    color: white
    // +round(5px)
    padding: 0 10px
    &:hover
      background: white
    a
      color: white
      text-decoration: none
      display: block
      &:hover
        color: darken($gray, 20%)
    &.prev
      float: left
      border-right: 1px solid white
      +round-left(50x)
    &.next
      float: right
      text-align: right
      border-left: 1px solid white
      +round-right(50x)
  
img.person
  vertical-align: text-bottom
.conference_session
  background: $gray
  padding: 10px
  margin: 10px
  overflow: auto
  +round(10px)
  .option
    clear: both
    border-top: 1px solid darken($gray, 10%)
    padding: 10px 0
    overflow: auto
    &:last-child
      padding-bottom: 0
    .description
      display: none
      padding-top: 10px
      color: darken($gray, 60%)
      ul li
        margin-left: 1.5em
  &.choose
    background: mix(mix($gray, white), $gray)
    .option
      padding-bottom: 0
.meta
  font-family: 'Droid Sans'
  font-size: 80%
  color: darken($gray, 40%)
  a
    color: darken($gray,40%)
    text-decoration: none
.time, .location, .presenters, .attendees
  // width: auto
  width: 50%
.time
  float: left
.location
  float: right
  text-align: right
.presenters
  float: left
.attendees
  float: right
  text-align: right
  // line-height: 18px
.top_data, .bottom_data
  overflow: auto
  clear: both
.top_data
  padding-bottom: 5px
.bottom_data
  padding-top: 5px
.summary
  font-family: 'Droid Serif'
  font-size: 120%
  a
    color: black
    text-decoration: none
.controls
  float: right
  width: auto
  margin-left: 10px
  input.attendance
    padding-right: 26px
  .attendance
    border: none
    display: block
    // width: 32px
    padding-right: 32px
    height: 32px
    line-height: 38px
    color: darken($gray, 40%)
    text-decoration: none
    font-family: 'Droid Sans'
    &.yes
      background: url('/images/schedule-yellow.png')
      background-repeat: no-repeat
      background-position: right top
      background-color: $green
      color: white
      +round(5px)
      &:hover
        background-image: url('/images/schedule.png')
    &.no
      background: url('/images/schedule.png')
      background-repeat: no-repeat
      background-position: top right
      color: $gray
      &:hover
        color: darken($gray, 40%)
        background-image: url('/images/schedule-yellow.png')
.metadata
  background: $gray
  padding: 10px
  margin: 10px 10px 0
  overflow: auto
  +round-top(10px)
  border-bottom: 1px solid darken($gray, 10%)
  .meta
    padding: 0
    // font-size: 100%
  .meta.presenters
    padding-bottom: 5px
  .meta.time
    padding-bottom: 5px
    float: right
    text-align: right
  .summary
    padding-top: 5px
    float: left
    width: 80%
    font-weight: bold
    font-size: 140%
  .controls
    width: 20%
    a.attendance.yes
      padding-left: 10px
      padding-right: 34px
      background-position: 100% 2px
      height: 36px
      width: auto
      float: right
.details
  background: $gray
  padding: 10px
  margin: 0 10px 10px
  overflow: auto
  +round-bottom(10px)
  .description
    float: left
    width: 70%
    p
      padding-bottom: 10px
  .attendees
    float: right
    width: 30%
    h3
      font-family: 'Droid Sans'
      color: darken($gray, 40%)
      margin-bottom: 5px
    ul
      list-style-type: none
      color: darken($gray, 40%)
      a
        color: darken($gray, 40%)
        text-decoration: none
.current_user
  position: fixed
  bottom: 0
  width: 100%
  background: black
  color: white
  border-top: 1px solid white
  font-family: 'Droid Sans'
  .info
    padding: 10px
    text-align: right
  a
    color: white
    text-decoration: none
    &.logout
      color: darken($gray, 30%)
      text-decoration: underline
ul.friends
  list-style-type: none
  .user
    background: $gray
    padding: 10px
    margin: 10px
    overflow: auto
    +round(10px)
    img
      float: left
      padding-right: 10px
    a
      color: darken($gray, 40%)
p.sorry
  background: $gray
  padding: 10px
  margin: 10px 0
  overflow: auto
  +round(10px)

#tweeter
  position: relative
  width: 90%
  margin: 25px auto
  textarea
    border-color: darken($gray, 40%)
    font-family: 'Droid Serif'
    font-size: 100%
    width: 100%
  .tweet, .counter
    font-family: 'Droid Sans'
    color: darken($gray, 20%)
    font-weight: bold
  .counter
    position: absolute
    top: 0
    right: 0
    &.warning
      color: $ruby
    &.exceeded
      color: $orange
  input
    background: darken($gray, 20%)
    color: white
    font-family: 'Droid Sans'
    font-weight: bold
    font-size: 120%
    display: block
    float: right
    width: auto
    border: none
    +round(5px)
    padding: 5px
    &:disabled
      background: $gray
      color: darken($gray, 20%)
