:ruby
  # I managed to make it even more hacky :(
  # But I think it works. But we have bigger problems
  tz = ActiveSupport::TimeZone['US/Central']
  cal = RiCal.Calendar do |cal|
    @user.conference_sessions.each do |cs|
      cal.event do
        dtstart     tz.tzinfo.local_to_utc(cs.start_time)
        dtend       tz.tzinfo.local_to_utc(cs.end_time)
        summary     cs.summary
        description cs.description
        location    cs.location
      end
    end
  end
= cal.export
