- content_for :above_nav do
  .site_header
    %h1 Welcome to RubyConfirmate

%p 
  Hi there!  Want an easy way to 
  %ul
    %li compare the <a href="http://rubyconf.org">RubyConf</a> sessions for a given time slot?
    %li keep track of which sessions you want to see?  
    %li see which ones your friends on <a href="http://twitter.com">the twitters</a> are attending?

%p 
  .fuckyeah
    WELL THEN YOU HAVE COME TO THE RIGHT PLACE, MY FRIEND!

%p
  WHAT NEXT:
  Just click on those tab things up there.  You're smart.  You'll figure things out.
